.button {
  font-size: 16px;
  background-color: var(--gold);
  border: none;
  border-radius: 20px;
  width: 90px;
  padding: 12px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.section {
  padding: 4rem 0.5rem 0 0.5rem;
  height: 100vh;
  max-height: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rem2 {
  font-size: 1.5rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.textCenter {
  text-align: center;
}
