.contactForm {
  display: flex;
  flex-direction: column;
  --formErrorColor: #b80c00;
  width: 80%;
}

.contactForm .legend {
  text-align: center;
  font-size: 16px;
}

.inputForm {
  margin: 16px;
  width: auto;
}

.submitBtnForm {
  align-self: flex-end;
  width: 80px;
  margin-right: 16px;
}

.contactForm .msgError {
  margin: -16px 16px 0;
  padding: 4px;
  font-size: 12px;
  color: var(--formErrorColor);
}

.contactForm .msgError.is-active {
  display: block;
}

.contactForm .displayNone {
  display: none;
}