ul {
  list-style: none;
  padding-left: 0;
}

input {
  font-size: 1rem;
  display: block;
  margin: 15px auto;
  width: 200px;
  border: none;
  border-bottom: thin solid lightgray;
  padding: 10px;
}

input:focus {
  outline: none;
  border-bottom: thin solid gray;
}

button {
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--gold);
  border: none;
  margin: 5px 5px;
  width: 110px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

textarea {
  resize: none;
  font-family: var(--sansSerif);
  padding: 0.5rem;
  border: thin solid lightgray;
}

textarea:focus {
  outline: none;
  border: thin solid gray;
}
