#box {
  display: flex;
  position: relative;
  width: 80%;
  height: 500px;
  background-color: var(--black);
}

#dot {
    position: relative;
    top: 100px;
    left: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--red);
}
