#blackBox {
  width: 90%;
  height: 40%;
  background-color: var(--black);
  position: relative;
}

#yellowDot {
    position: relative;
    top: 100px;
    left: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--gold);
}
