.scrollTopBtn {
  background-color: var(--gold);
  position: fixed;
  bottom: 1vh;
  left: 5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.scrollTopBtn span {
  position: relative;
  top: 10%;
  height: 23px;
  width: 23px;
  border-top: 5px solid #222;
  border-right: 5px solid #222;
  rotate: -45deg;
  border-top-right-radius: 5px;
}
