:root {
  --sansSerif: sans-serif;
  --black: #222;
  --gold: #fdd700;
  --blackOpacity85: rgba(34, 34, 34, 0.85);
  --goldOpacity85: rgba(253, 215, 0, 0.85);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--sansSerif);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  user-select: none;
}

/* mobileMenu */

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--gold);
  color: var(--black);
  height: 4rem;
  z-index: 20;
}

header h1 {
  margin: 0;
  text-align: center;
  width: initial;
}

.panel-btn {
  position: fixed;
  background-color: var(--gold);
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  position: fixed;
  z-index: 9;
  top: 4rem;
  height: 100%;
  width: 100%;
  background-color: var(--blackOpacity85);
  transition: all 0.25s ease;
  transform: translate(-100%, 0);
  visibility: hidden;
  overflow-y: auto;
}
.panel.is-active {
  transform: translate(0, 0);
  visibility: visible;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu a {
  width: inherit;
  padding: 1.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #f0f0f0;
  transition: all 0.5s ease;
}
.menu a:hover,
.menu a.active {
  color: var(--black);
  background-color: var(--goldOpacity85);
}

/* desktopMenu */
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }

  .header {
    grid-area: header;
  }

  header h1 {
    width: 80%;
  }

  main {
    grid-area: main;
  }

  .panel {
    grid-area: panel;
    transform: translate(0, 0);
    visibility: visible;
    width: 20%;
    right: 0;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    text-align: right;
  }

  .menu a {
    font-size: 1.25rem;
    padding: 1rem;
  }
}
